* {
    margin: 0;
    padding: 0;
}

#game {
    max-width: 500px;
    /* margin: auto; */
    /* /* width: 500px; */
    height: 200px;
    border: 1px solid black;
}

#mario {
    width: 50px;
    position: relative;
    top: 146px;
}

#enemy {
    width: 20px;
    left: 424px;
    position: relative;
    top: 146px;
    animation: enemy 1s infinite linear;
}

.jumps {
    animation: jump 500ms;
}

@keyframes jump {
    0% {
        top: 146px;
    }

    30% {
        top: 100px;
    }

    70% {
        top: 100px;
    }

    100% {
        top: 146px;
    }
}

@keyframes enemy {
    0% {
        left: 424px;
    }

    100% {
        left: -424px
    }
}